/* body {
    background-color: lightgray;
    font-family: 'Open Sans', sans-serif;
}

input[type=text] {
    outline: none;
    border: none;
    width: 100%;
}

h6 {
    color: gray;
    text-align: right;
}

img {
    width:100%;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: lightgray;
}

.navbar-brand {
    color: black;
   
}

.fas {
    color: black;
}

#home {
    background: white;
}

#nav-pills {
    background: white;
}

#spacer {
    background: lightgray;
} */